@model Web.Controllers.PostIndexViewModel

@{
    ViewBag.Title = "Vänner";
}
@*Index för poster för vänner*@
<h2>Vänner</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = Model.Id})
</p>
<table class="table">
    <tr>
        <th>
            @*Html.DisplayNameFor(model => model.Posts.)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Posts) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.From.Nickname): @Html.DisplayFor(modelItem => item.Message)
        </td>
    </tr>
}

</table>
