@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

<address>
    Kungliga palatset<br />
    Stockholm, SE<br />
    <abbr title="Phone">P:</abbr>
    070-1111111
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:adelnsdating@adel.se">adelnsdating@adel.se</a>
</address>