body {
}

.searchfield {
    margin-top: 12px;
    border-radius: 10px;
    text-size-adjust: auto;
}

img.avatarsHomePage {
    max-height: 200px;
    max-width: 200px;
    margin-top: 5%;
}

ul.avatarsHomePage {
    margin-top: 10%;
    margin-bottom: 10%;
}

li {
    padding: 0 10px 0 10px;
    margin: 0 auto 0 auto;
    display: inline-block;
}

.page-header {
    text-align: center;
}


.avatarsHomePage {
    width: 100%;
    height: 100%;
}

h1.HomePage, h2.HomePage {
    font-family: Calibri;
    font-weight: bold;
}

h1.HomePage {
    font-size: 6em;
}

li.foot-links {
    list-style: none;
    display: inline;
    position: fixed;
}

ul.footer-ul {
    list-style: none;
    text-align: center;
    padding: 0;
    color: black;
}

    ul.footer-ul:link {
        list-style: none;
        text-align: center;
        padding: 0;
        color: black;
    }


input.searchfield {
    margin-top: 10px;
    border-radius: 10px;
    text-size-adjust: auto;
    width: 260px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 14px;
    background-image: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png");
    background-repeat: no-repeat;
    background-size: 10%;
    padding: 4px 4px 4px 25px;
}

